body {
    height: 100px;
    width: 200px;
}

p.paragraph {
    text-align: center;
}

p#International {
    font-size: 30px; 
}

p#Carlo, p#Creator{
    font-size: 15px;
}

span.red_text {
    color: red;
}