body {
    height: 2000px;
    width: 2000px;
}

p.paragraph {
    text-align: center;
}

p#International {
    font-size: 20px; 
}

p#Carlo, p#Creator{
    font-size: 10px;
}

span.red_text {
    color: red;
}